
body {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    background-color: gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app {
    background-color: black;
    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    border: 1px solid yellow;
    border-radius: 10px;
    /* background-color: rgb(229, 192, 192); */
    padding: 10px;
    /* width: 150%; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    gap: 40px;
    margin: 10px 0;
}

.navtext {
    color: yellow;
}

.navtext:hover {
    color: red;
}

.main {
    border: 1px solid blue;
    border-radius: 10px;
    /* background-color: rgb(53, 236, 175); */
    /* padding: 10px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.objectList {
    border: 1px solid orange;
    border-radius: 10px;
    /* background-color: rgb(167, 215, 166); */
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.objectItem {
    border: 1px solid green;
    border-radius: 10px;
    /* background-color: rgb(97, 203, 235); */
    color: rgb(37, 221, 37);
    padding: 10px;
    margin: 10px;
    width: 400px;
    text-align: center;
}